* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
img {
    max-width: 100%;
}
header {
    background-color: #d02d26;
    text-align: center;
    padding: 40px 20px;
}
/* Efecto degradado */
.gradient{
    background: linear-gradient(271deg,#e99757,#5700b5,#aa5831,#59f866);
    background-size: 240% 240%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* //////////////////////// */

/* Navbar */
.nav-item{
    margin:20px
}

.nav-item:hover{
    transform: scale(1.5);
    
}

  /* //////////////////// */

/* fondo banner */
.fondo{
    background-image: url(../assets/skyline.jpg);
    min-height: 20vh;
    
    background-size: cover;

}
/* /////////////////////////// */
/* Title center */
.wave{

    position: relative;
    color: aliceblue;
    font-size: 4rem;
    text-align: center;
    padding: 10px;


}
/* ////////////////////////// */

/* Arrow */
.arrow{
    transform: rotate(180deg);
}
/* /////////////////// */








.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.cards {
    flex-basis: 200px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}
.cards .category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}
.cards .category span {
    
    padding: 3px 7px;
}
.filters {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.filters .types_checkboxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
input[name=search] {
    padding: 5px;
    width: 50%;
    
    font-size: 1.1rem;
}
/* stats */
table, td, th {
    border: 1px solid #d02d26;
    border-collapse: collapse;
}
table {
    margin: 30px auto;
}
td, th {
    padding: 5px 10px;
}
th {
    background-color: #c6d7e9;
}